- if @parent
  %h5 Reply to
  .post
    = render 'posts/vote_widget', p: @parent
    .body= @parent.body
    .details
      .poster
        %b Poster:
        = @parent.user.username
      .time
        %b Submitted:
        = time_ago_in_words @parent.created_at
        = "(#{@parent.created_at.to_s(:long)})"

= form_for [@parent, @post] do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :parent_id

  .control-group
    = f.label :body
    .controls= f.text_area :body, class: 'input-large', rows: 8, cols: nil

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', posts_path, class: 'btn'
