%li
  = render 'posts/vote_widget', p: post
  %i.icon.icon-chevron-right
  = link_to post, class: 'body' do
    .snippet= truncate post.body, length: 200, separator: ' '
  .details
    - if user_signed_in?
      .reply
        = link_to 'Reply', new_post_post_path(post)
    .poster
      Poster:
      = post.user.username
    - if post.count_children > 0
      .comments
        Comments:
        = post.count_children
    = time_tag post.created_at, "#{time_ago_in_words(post.created_at)} ago"

- if @post && post.children.any?
  %ul.posts
    = render partial: 'posts/post', collection: post.children, as: :post
