
.post
  = render 'posts/vote_widget', p: @post
  .body= @post.body
  .details
    .poster
      %b Poster:
      = @post.user.username
    .time
      %b Submitted:
      = time_ago_in_words @post.created_at
      ago
      = "(#{@post.created_at.to_s(:long)})"

- if @posts && @posts.any?
  %h5 Replies
  %ul.posts
    = render @posts

